.notFound{
    background-color: #cacaca;
    height: 90vh;
    display: flex;
    justify-content: center;
    color: #5e5e5e;
}
.text{
    text-align: center;
    margin-top: 150px;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150px;
    line-height: 150px;

}
.subHeading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .heading{
        font-size: 100px;
    }
    .subHeading{
        font-size: 20px;
    }
    .description{
        font-size: 10px;
    }
}