.actionInfo {
    box-shadow: 0.2ren 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    width: 50%;
    overflow: hidden;
}

.header {
    background-color: dodgerblue;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.8rem 2rem;
}

.main {
    background-color: #e9f4ff;
    padding: 2rem 10rem;
}

.main p {
    color: #aaa;
    font-size: 1.4rem;
}

.mortgagedIcon {
    width: 10rem;
    height: auto;
}

.close {
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    background-color: #e9f4ff;
    border: 0.1rem solid dodgerblue;
    color: dodgerblue;
    border-radius: 0.5rem;
    cursor: pointer;
}