.houseAndHotelContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.houseAndHotel{
    height: 22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    
}
.house{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.house img{
    width: 15px;
    height: 12px;
}
.rotate{
    transform: rotate(90deg);
}
.house1{
    align-items: center;
    justify-content: center;
}
.house2 {
    align-items: center;
}
.house3{
    flex-direction: row-reverse;
}