.row{
    display: flex;
    position: absolute;
    width: 120px;
    height: calc(100% - 120px);
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.row1{
    top: 0;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.row2{
    left: 0;
    bottom: 0;
}
.row3{
    left: 0;
    top: 120px;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
}
.row4{
    top: 0;
    right: 0;
}