*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

.App{
    width: 100%;
    display: flex;
    justify-content: center;
}

.red{
    background-color: red;
}