
.playerDropdownContainer{
    display: flex;
    justify-content: center;
    /* background-color: dodgerblue; */
    padding: 10px;
}
.playerDropdown{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.cardListsContainer{
    display: flex;
    flex-direction: row;
}
.cardList{
    height: 315px;
    overflow-y: scroll;
    cursor: pointer;
}

.cardList::-webkit-scrollbar {
    width: 10px;
}
 
.cardList::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
.cardList::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 100px;
}
.cardList:first-child{
    margin-right: 20px;
}
.cardWrapper{
    margin: 0px 15px 20px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.cardWrapper:last-child{
    margin-bottom: 0px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
}
.overlay img{
    width: 50%;
    height: auto;
}
.rotate{
    transform: rotate(180deg);
}
.tradeInfo{
    width: calc(100% - 30px);
    text-align: center;
    font-size: 13px;
    color: #aaaaaa;
}
.askOrSendMoney{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin:15px 0px;
}
.col{
    flex: 0 0 50%;
}
.wrapper{
    margin-left: 15px;
    width: 255px;
}
.btnContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px 10px;
    cursor: pointer;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.4);
    transition: filter 0.2s;
}
.btn:hover{
    filter: brightness(0.9);
}
.btn:disabled{
    cursor: not-allowed;
}
.offer{
    background-color: green;
    color: white;
}
.cancel{
    background-color: red;
    color: white;
}