.row{
    display: flex;
    flex-direction: row;
}

/* Card List */
.cardListHeading{
    margin: 0px 25px 12px 15px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid black;
}
.cardListInfo{
    margin-bottom: 0px;
    border: none;
    color: #808080;
    font-weight: normal;
    font-size: 0.9rem;
}

.cardList{
    height: 315px;
    overflow-y: scroll;
    cursor: pointer;
}

.cardList::-webkit-scrollbar {
    width: 10px;
}
 
.cardList::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
.cardList::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 100px;
}
.cardList:first-child{
    margin-right: 20px;
}
.cardWrapper{
    margin: 0px 15px;
    margin-bottom: 15px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.cardWrapper:last-child{
    margin-bottom: 0px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
}
.overlay img{
    width: 50%;
    height: auto;
}
.rotate{
    transform: rotate(180deg);
}
/* Controls */
.controls{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.playerDropdown{
    margin: 0px 0px 12px 0px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background: limegreen;
    color: white;
    width: 100%;
    outline: none !important;
    border:none;
}
.or{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #707070;
}
.or div{
    width: calc(50%  - 15px);
    height: 1px;
    background-color: #cacaca;

}
.playerDropdown option{
    background-color: white;
    color: black;
}

.askOrSendMoney{
    height: 285px;
}
/* Buttons */
.btn{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px 10px;
    cursor: pointer;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.4);
    transition: filter 0.2s;
    margin-right: 10px;
}
.btn:last-child{
    margin-right: unset;
}
.btn:hover{
    filter: brightness(0.9);
}
.btn:disabled{
    cursor: not-allowed;
}
.offer{
    background-color: green;
    color: white;
}
.cancel{
    background-color: red;
    color: white;
}