.main{
    width: 100%;
}

.bannerContainer{
    padding: 50px;
    display: flex;
    align-items: center;
    height: 400px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}
.banner{
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: -1;

}
.banner img{
    height: 100%;
    width: auto;
}

.bannerText{
    padding:10px;
}
.title{
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.shortDesc{
    color: #fff;
    margin-bottom: 5px;
}

.btn{
    display: inline-block;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    text-decoration: none;
    border-radius: 5px; 
    padding: 4px 20px;
    font-size: 16px;
}

.info{
    background-color: white;
    text-align: center;
    padding: 100px 20px;
}
.info  .title{
    color: #1e1e1e;
    font-size: 40px;
    font-weight: bold;
}
.info  .description{
    font-size: 16px;
    color: #1e1e1e;
}


@media screen and (max-width:700px) {
    .banner{
        width: 100%;
    }
    .banner img{
        width: 100%;
        height: auto;
    }
}